.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.pokemon__name {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.pokemon__image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
