#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
	font-size: 24px;
	margin-bottom: 20px;
}

.pokemon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pokemon {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 200px;
}

.pokemon__name {
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.pokemon__image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.search-input {
	padding: 10px;
	font-size: 16px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}
